-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: ocp_database
-- ------------------------------------------------------
-- Server version    8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `engins`
--

DROP TABLE IF EXISTS `engins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `engins` (
  `engin_id` varchar(20) NOT NULL,
  `designation` varchar(100) NOT NULL,
  `type_engin` varchar(50) DEFAULT NULL,
  `modele` varchar(50) DEFAULT NULL,
  `date_mise_en_service` date DEFAULT NULL,
  PRIMARY KEY (`engin_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `engins`
--

LOCK TABLES `engins` WRITE;
/*!40000 ALTER TABLE `engins` DISABLE KEYS */;
/*!40000 ALTER TABLE `engins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intervention`
--

DROP TABLE IF EXISTS `intervention`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `intervention` (
  `intervention_id` int NOT NULL AUTO_INCREMENT,
  `operation_id` int NOT NULL,
  `date_planifiee` date DEFAULT NULL,
  `date_livraison` date DEFAULT NULL,
  `statut` varchar(50) NOT NULL,
  `responsable` varchar(100) DEFAULT NULL,
  `type_intervention` varchar(50) DEFAULT NULL,
  `notes` text,
  PRIMARY KEY (`intervention_id`),
  KEY `operation_id` (`operation_id`),
  CONSTRAINT `intervention_ibfk_1` FOREIGN KEY (`operation_id`) REFERENCES `operation` (`operation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intervention`
--

LOCK TABLES `intervention` WRITE;
/*!40000 ALTER TABLE `intervention` DISABLE KEYS */;
/*!40000 ALTER TABLE `intervention` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operation`
--

DROP TABLE IF EXISTS `operation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operation` (
  `operation_id` int NOT NULL AUTO_INCREMENT,
  `sous_ensemble_id` int NOT NULL,
  `type_operation` varchar(50) NOT NULL,
  `description` text,
  `atelier` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`operation_id`),
  KEY `operation_ibfk_1` (`sous_ensemble_id`),
  CONSTRAINT `operation_ibfk_1` FOREIGN KEY (`sous_ensemble_id`) REFERENCES `sous_ensemble` (`sous_ensemble_id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operation`
--

LOCK TABLES `operation` WRITE;
/*!40000 ALTER TABLE `operation` DISABLE KEYS */;
/*!40000 ALTER TABLE `operation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sous_ensemble`
--

DROP TABLE IF EXISTS `sous_ensemble`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sous_ensemble` (
  `sous_ensemble_id` int NOT NULL AUTO_INCREMENT,
  `engin_id` varchar(20) NOT NULL,
  `designation` varchar(100) NOT NULL,
  `type_sous_ensemble` varchar(50) DEFAULT NULL,
  `quantite_installee` int DEFAULT NULL,
  `sous_ensemble_relais_disponible` int DEFAULT NULL,
  `sous_ensemble_en_attente_revision` int DEFAULT NULL,
  `sous_ensemble_encours_revision` int DEFAULT NULL,
  `corps_sous_ensembles_disponibles` int DEFAULT NULL,
  `performance_moyenne_SE_HM` decimal(10,2) DEFAULT NULL,
  `performance_cible_HM` varchar(50) DEFAULT NULL,
  `prix_sous_ensemble_neuf_DH` decimal(12,2) DEFAULT NULL,
  `duree_revision_jours` int DEFAULT NULL,
  `cout_revision_MAD` decimal(12,2) DEFAULT NULL,
  `heures_marche_duree_vie` int DEFAULT NULL,
  `nombre_revisions_avant_reforme` int DEFAULT NULL,
  `fournisseur` varchar(100) DEFAULT NULL,
  `delai_livraison_apres_commande_jours` varchar(50) DEFAULT NULL,
  `mode_gestion_actuel` varchar(100) DEFAULT NULL,
  `besoin_global_annuel` int DEFAULT NULL,
  PRIMARY KEY (`sous_ensemble_id`),
  KEY `engin_id` (`engin_id`),
  CONSTRAINT `sous_ensemble_ibfk_1` FOREIGN KEY (`engin_id`) REFERENCES `engins` (`engin_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sous_ensemble`
--

LOCK TABLES `sous_ensemble` WRITE;
/*!40000 ALTER TABLE `sous_ensemble` DISABLE KEYS */;
/*!40000 ALTER TABLE `sous_ensemble` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-31  9:58:16