/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 400px;
  margin: auto;
}

.edit-form {
  max-width: 400px;
  margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
